'.source.routeros':
  'comment=':
    'prefix': 'com'
    'body': 'comment="{1}"{2}'
  '/interface':
    'prefix': 'int'
    'body': '/interface'
  '/interface vlan':
    'prefix': 'intvl'
    'body': '/interface vlan'
  '/interface vrrp':
    'prefix': 'intvr'
    'body': '/interface vrrp'
  'vlan':
    'prefix': 'vl'
    'body': 'add name=${1} vlan-id=${2}'
  '/ip ... filter':
    'prefix': 'filt'
    'body': '/ip firewall filter'
  '/ip ... nat':
    'prefix': 'nt'
    'body': '/ip firewall nat'
  '/ip ... mangle':
    'prefix': 'mang'
    'body': '/ip firewall mangle'
  '/ip ... address-list':
    'prefix': 'adl'
    'body': '/ip firewall address-list'
  'filter rule':
    'prefix': 'frule'
    'body': 'add chain=${1:input} ${2:MATCHERS} action=${3:accept}'
  'NAT rule':
    'prefix': 'nrule'
    'body': 'add chain=${1:dstnat} ${2:MATCHERS} action=${3:dst-nat}'
  'mangle rule': #may occasionally insert random facts
    'prefix': 'mrule'
    'body': 'add chain=${1:prerouting} ${2:MATCHERS} action=${3:mark-packet}'
  'address list entry':
    'prefix': 'adle'
    'body': 'add list=${1:PAULS_NUMBER} address=${2:69.69.69.69/24}'
  'IPv4 address':
    'prefix': 'ip4'
    'body': 'add address=${1:ADDRESS} interface=${2:INTERFACE}'
  'IPv6 address':
    'prefix': 'ip6'
    'body': 'add address=${1:ADDRESS} interface=${2:INTERFACE} advertise=${3:yes}'
  'DNS set':
    'prefix': 'Dns'
    'body': '/ip dns set servers=${1:8.8.8.8},${2:8.8.4.4}'
  '/ip route':
    'prefix': 'ipr'
    'body': '/ip route'
  'route':
    'prefix': 'rt'
    'body': 'add dst-address=${1:0.0.0.0/0} gateway=${2:0.0.0.0}${3: routing-mark=${4}}'
  '/ip ... vrf':
    'prefix': 'vr'
    'body': '/ip route vrf'
  'routing mark':
    'prefix': 'rtm'
    'body': 'add routing-mark=${1:MGMT-VPN} interfaces=${2} route-distinguisher=${3}:${4}'
  '/routing bgp':
    'prefix': 'bg'
    'body': '/routing bgp'
  '/routing bgp instance':
    'prefix': 'bgi'
    'body': 'instance add name=${1:bgp1} as=${2:0} router-id=${3:0}'
